<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://esmart.geniuswise.cn/ota/ios/LiveStudio-AD-HOC-Build-104-201612291115-For-Product-Server.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/NiubilityCoder/ios_deploy/master/studio-logo-120.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/NiubilityCoder/ios_deploy/master/studio-logo-180.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.xunlong.myshowme</string>
                <key>bundle-version</key>
                <string>1.1.10</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>直播间Studio</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
